/* ----------------------------------------------- */
/* ++++++++++++++++++++ SETUP ++++++++++++++++++++ */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #000;
    color: #555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.main {
  width: 450px;
  margin: 30px;
}

/* ----------------------------------------------- */
/* ++++++++++++ REUSABLE COMPONENTS ++++++++++++++ */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----------------------------------------------- */
/* +++++++++++++++++ HEADINGS ++++++++++++++++++++ */
/* ----------------------------------------------- */

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}



/* ----------------------------------------------- */
/* +++++++++++++++++++ HEADER ++++++++++++++++++++ */
/* ----------------------------------------------- */


header {
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    width: 100%;
}

video {
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
}


.logo {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 30px;
}

.logo-black { 
    display: none;
    height: 40px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.banner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

/* ----------------------------------------------- */
/* +++++++++++++++++ NAVIGATION ++++++++++++++++++ */
/* ----------------------------------------------- */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    z-index: 1;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #4c4c4c;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 4px solid #1565C0;
    transition: border-bottom 0.5s;
}



/* ----------------------------------------------- */
/* +++++++++++++++++++ MOBILE ++++++++++++++++++++ */
/* ----------------------------------------------- */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #000;
}


/* ----------------------------------------------- */
/* ++++++++++++++++++ STICKY +++++++++++++++++++++ */
/* ----------------------------------------------- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #fff;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  SECTIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* ----------------------------------------------- */
/* +++++++++++++++++ ABOUT +++++++++++++++++++++++ */
/* ----------------------------------------------- */

.section-about {
    margin: 100px 0px;
}

.about-text-1 {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;   
}

.about-text-2 {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 2.5rem;
    text-align: center; 
}

/* ----------------------------------------------- */
/* ++++++++++++++++ LOCATION +++++++++++++++++++++ */
/* ----------------------------------------------- */

#location {
    background-image: -webkit-linear-gradient(rgba(63, 94, 251, 0.5),rgba(126, 86, 203, 0.5),rgba(252, 155, 69, 0.5),rgba(189, 78, 155, 0.5),rgba(252, 70, 107, 0.5)), url(img/opera.jpg);
    background-image: linear-gradient(rgba(63, 94, 251, 0.5),rgba(126, 86, 203, 0.5),rgba(252, 155, 69, 0.5),rgba(189, 78, 155, 0.5),rgba(252, 70, 107, 0.5)), url(img/opera.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    background-attachment: fixed;
}

.location-text {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 6.0rem;
    line-height: 145%;
    text-align: center;
}

.location-text1 {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 7rem;
    line-height: 30%;
    text-align: center;
    letter-spacing: 38px;
    padding-left: 36px;
}

.location-address {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 3.8rem;
    margin-top: 60px;
    line-height: 90%;
    text-align: center;
}

.location-suburb {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 3.4rem;
    margin-top: 10px;
    line-height: 90%;
    text-align: center;
}

.location-pin {
    margin-top: 20px;
    line-height: 90%;
    text-align: center;
}

.ion-ios-pin {
    font-size: 8rem;
    color: #EA4335;
    text-align: center;
    line-height: 150%;
}

.location-direction {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    margin-top: 10px;
    line-height: 90%;
    text-align: center;
}

#direction {
    font-family: 'Major Mono Display', monospace;
    font-weight: 400;
    color: #fff;
    font-size: 3.5rem;;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 15px 40px;
}

#direction:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    font-size: 3.7rem;
    font-weight: 700;
    transition: ease 0.2s;

}

/* ----------------------------------------------- */
/* ++++++++++++++++ SPEAKERS +++++++++++++++++++++ */
/* ----------------------------------------------- */

#speaker {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/foil.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    background-attachment: fixed;
    color: #fff;
}

.about-heading {
    font-family: 'Major Mono Display', monospace;
    color: #fff;
    font-size: 7rem;    
}

.card-content {
    background-color: #000 !important;
}

#pastor-name {
    font-family: 'Major Mono Display', monospace !important;
    color: #fff !important;
    font-size: 1.3rem !important;

}
.card-title, .pastor, .card-reveal {
    font-family: 'Major Mono Display', monospace !important;
    color: #fff;
    background-color: #000 !important;
}

.about-pastor {
    text-transform: lowercase;
}

#close-button {
    color: red;
    font-size: 30px;
}

#pastor-reveal {
    font-family: 'Major Mono Display', monospace !important;
    color: #fff !important;
    font-size: 1.2rem !important;
    margin-bottom: 20px;
}

/* ----------------------------------------------- */
/* ++++++++++++++++ MASTERCLASS ++++++++++++++++++ */
/* ----------------------------------------------- */

.master-text {
    font-family: 'Major Mono Display', monospace !important;
    color: #fff !important;
    font-size: 1.3rem !important;
    background-color: #000;

}
.master-course {
    font-family: 'Major Mono Display', monospace !important;
    color: #fff !important;
    font-size: 1.3rem !important;
    background-color: #000;
}

#masterclass1 {

}
#masterclass2 {

}
#masterclass3 {

}

/* ----------------------------------------------- */
/* +++++++++++++++ COUNTDOWN +++++++++++++++++++++ */
/* ----------------------------------------------- */

.container {
  color: #333;
  text-align: center;
}

.countdown {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/* ----------------------------------------------- */
/* ++++++++++++++++ FOOTER +++++++++++++++++++++++ */
/* ----------------------------------------------- */

footer {
    background-color: #000;
    padding: 50px;
    font-size: 80%;
}


.social-links {
    list-style: none;
    text-align: center;
}

.social-links li {
    display: inline-block;
}


 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 300%;
}

.ion-logo-facebook,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #fff;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-instagram:hover {
    color: #9e363a;
}

.hashtag {

}
footer p {
    color: #fff;
    text-align: center;
}


/* ----------------------------------------------- */
/* ++++++++++++++ ANIMATIONS +++++++++++++++++++++ */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}

#timer {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#days, #hours, #minutes, #seconds {
    color: #000;
}

